<h1>{{ coupon_alert_heading }}</h1>
<p>{{ coupon_alert_body }}</p>
<br>
{% if link %}
  <p>
    <a href="{{ link }}" target="_blank">{{ text_link_to_get_coupon }}</a>
  </p>
{% else %}
  <p>
    {{ text_your_coupon_code }}{{ code }}
  </p>
{% endif %}